<ion-content>
  <div class="logo">
    <img src="./assets/imgs/samchully-es-logo.png" (click)="goback()" alt="logo">
  </div>
  <div style="    text-align: center;
  font-size: 30px;
  text-decoration: underline;
  color: blue;" *ngIf="receipt_data.status=='승인보류'" class="title"> <span>AS 보류 </span> </div>

 <div style="    text-align: center;
 font-size: 30px;
 text-decoration: underline;
 color: blue;" *ngIf="receipt_data.status=='현재접수'" class="title"> <span>AS 접수 </span> </div>
 <div style="    text-align: center;
 font-size: 30px;
 text-decoration: underline;
 color: blue;" *ngIf="receipt_data.status=='처리진행'" class="title"> <span>AS 처리진행 </span> </div>
 <div style="    text-align: center;
 font-size: 30px;
 text-decoration: underline;
 color: blue;" *ngIf="receipt_data.status=='처리완료'" class="title"> <span>AS 처리완료 </span> </div>
 <div style="    text-align: center;
 font-size: 30px;
 text-decoration: underline;
 color: blue;" *ngIf="receipt_data.status=='처리대기'" class="title"> <span>AS 처리대기</span> </div>
  <div class="flag7">
    <header>
      <!-- <div *ngIf="flagflag == '1'" class="header-msg" id="flag7-header-msg">AS처리</div>
      <div *ngIf="flagflag == '3'" class="header-msg" id="flag7-header-msg">AS승인보류</div>
      <div *ngIf="flagflag == '100'" class="header-msg" id="flag7-header-msg">AS이력</div> -->
      <div class="flag7-info">
        <table class="flag7-table">
          <tr>
            <td rowspan=2 class="flag7-icon" style="">
              <ion-icon ios="ios-home" md="md-home" (click)="info_display(true)"></ion-icon>
            </td>
            <td class="flag7-name">
              {{receipt_data.clientInfo.customer}}<br/>
              <font size="2px">{{receipt_data.clientInfo.customer_building}}</font>
            </td>
            <td class="flag7-as"><a (click)="go_view_customer_page()">AS이력</a></td>
          </tr>
          <!-- <tr>
            <td class="flag7-name"><input type="text" [(ngModel)]="subname" placeholder="{{receipt_data.customer_receiptionist}}"></td>
          </tr> -->
        </table>
      </div>
      <div class="flag7-manager">AS신청자 {{receipt_data.as_applicant}}/{{phone_replace(receipt_data.as_applicant_phone)}}</div>
      <div class="flag7-manager"><strong>접수자 {{receipt_data.receiptionist}} {{receipt_data.receiptionist_position}}</strong></div>
    </header>
    <article class="flag7-article">
      <div class="info">
        <table>
          <tr>
            <td class="info-td-width">모델명</td>
            <td>{{receipt_data.airConditionerInfo.o_serial.o_model}}</td>
          </tr>
          <tr>
            <td class="info-td-width">시리얼넘버</td>
            <td>{{receipt_data.airConditionerInfo.o_serial.o_serial}}</td>
          </tr>
          <tr>
            <td class="info-td-width">주소</td>
            <td>{{receipt_data.totalAddress}}</td>
          </tr>
        </table>
      </div>
      <div class="flag7-contents">
        <table class="flag7-table-contents">
          <tr class="flag7-table-tr">
            <td colspan=3>접수번호 &nbsp;&nbsp; {{receipt_data.receipt_number}}</td>
          </tr>

          <!-- 처리기사 starting... -->
          <tr class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <!-- <td *ngIf="flagflag != 3" class="flag7-table-td-second">처리기사</td> -->
            <td class="flag7-table-td-second">처리예정자</td>
            <td class="flag7-table-td-third" id="flag7-radio-align">
              <select name="processing_engineer" [(ngModel)]="agency_engineer2" (change)="engineer_change()">
                <option value="/">선택해주세요.</option>
                <option *ngFor="let pi of engineer_list" value="{{pi.agency + '/' + pi.engineer}}">
                  {{pi.agency + ' ' + pi.engineer}}</option>
              </select>
            </td>
          </tr>
          <!-- 처리기사 ending... -->

          <tr *ngIf="receipt_data.status!='현재접수'" class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-red.png" alt=""></td>
            <td class="flag7-table-td-second">고장증상</td>
            <td class="flag7-table-td-third" (click)="takephoto(1)">
              <ion-icon ios="ios-image" md="md-image"></ion-icon>
              <span>동영상 및 사진</span>
              <ion-icon ios="ios-add" md="md-add"></ion-icon>
            </td>
          </tr>

          <tr class="flag7-table-tr">
            <td class="flag7-table-td-first"></td>
            <!-- <td *ngIf="receiptContentFiles != {}"> -->
              <div *ngFor="let file of receiptContentFiles; let i = index;" class="ImgVideo">
                <img *ngIf="file.downloadURL.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{file.downloadURL}}" (click)="photo_view(file.downloadURL)"/>
                <a *ngIf="file.downloadURL.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{file.downloadURL}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(1,i)">X</button>
              </div>

              <!-- <div *ngIf="receipt_data.content_img&&receipt_data.content_img!=''" class="ImgVideo">
                <img *ngIf="receipt_data.content_img.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{receipt_data.content_img}}" (click)="photo_view(receipt_data.content_img)"/>
                <a *ngIf="receipt_data.content_img.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{receipt_data.content_img}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(1,1)">X</button>
              </div>

              <div *ngIf="receipt_data.content_img1&&receipt_data.content_img1!=''" class="ImgVideo">
                <img *ngIf="receipt_data.content_img1.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{receipt_data.content_img1}}" (click)="photo_view(receipt_data.content_img1)"/>
                <a *ngIf="receipt_data.content_img1.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{receipt_data.content_img1}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(1,2)">X</button>
              </div>

              <div *ngIf="receipt_data.content_img2&&receipt_data.content_img2!=''" class="ImgVideo">
                <img *ngIf="receipt_data.content_img2.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{receipt_data.content_img2}}" (click)="photo_view(receipt_data.content_img2)"/>
                <a *ngIf="receipt_data.content_img2.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{receipt_data.content_img2}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(1,3)">X</button>
              </div>

              <div *ngIf="receipt_data.content_img3&&receipt_data.content_img3!=''" class="ImgVideo">
                <img *ngIf="receipt_data.content_img3.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{receipt_data.content_img3}}" (click)="photo_view(receipt_data.content_img3)"/>
                <a *ngIf="receipt_data.content_img3.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{receipt_data.content_img3}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(1,4)">X</button>
              </div>

              <div *ngIf="receipt_data.content_img4&&receipt_data.content_img4!=''" class="ImgVideo">
                <img *ngIf="receipt_data.content_img4.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{receipt_data.content_img4}}" (click)="photo_view(receipt_data.content_img4)"/>
                <a *ngIf="receipt_data.content_img4.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{receipt_data.content_img4}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(1,5)">X</button>
              </div>

              <div *ngIf="receipt_data.content_img5&&receipt_data.content_img5!=''" class="ImgVideo">
                <img *ngIf="receipt_data.content_img5.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{receipt_data.content_img5}}" (click)="photo_view(receipt_data.content_img5)"/>
                <a *ngIf="receipt_data.content_img5.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{receipt_data.content_img5}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(1,6)">X</button>
              </div>

              <div *ngIf="receipt_data.content_img6&&receipt_data.content_img6!=''" class="ImgVideo">
                <img *ngIf="receipt_data.content_img6.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{receipt_data.content_img6}}" (click)="photo_view(receipt_data.content_img6)"/>
                <a *ngIf="receipt_data.content_img6.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{receipt_data.content_img6}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(1,7)">X</button>
              </div>

              <div *ngIf="receipt_data.content_img7&&receipt_data.content_img7!=''" class="ImgVideo">
                <img *ngIf="receipt_data.content_img7.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{receipt_data.content_img7}}" (click)="photo_view(receipt_data.content_img7)"/>
                <a *ngIf="receipt_data.content_img7.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{receipt_data.content_img7}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(1,8)">X</button>
              </div>

              <div *ngIf="receipt_data.content_img8&&receipt_data.content_img8!=''" class="ImgVideo">
                <img *ngIf="receipt_data.content_img8.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{receipt_data.content_img8}}" (click)="photo_view(receipt_data.content_img8)"/>
                <a *ngIf="receipt_data.content_img8.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{receipt_data.content_img8}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(1,9)">X</button>
              </div>

              <div *ngIf="receipt_data.content_img9&&receipt_data.content_img9!=''" class="ImgVideo">
                <img *ngIf="receipt_data.content_img9.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{receipt_data.content_img9}}" (click)="photo_view(receipt_data.content_img9)"/>
                <a *ngIf="receipt_data.content_img9.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{receipt_data.content_img9}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(1,10)">X</button>
              </div> -->

            <!-- </td> -->
          </tr>
          <tr class="flag7-table-tr">
            <td colspan=3 style="width:100%"><input type="text" placeholder="{{receipt_data.receipt_content}}" [(ngModel)]="receipt_data.receipt_content" class="flag7-input-contents"></td>
          </tr>
          <tr class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">에러코드</td>
            <td class="flag7-table-td-third" id="flag7-radio-align">
              <select name="flag7-error" [(ngModel)]="receipt_data.error_code" id="">
                <option *ngFor="let a of error_list"  value="{{a.code}}"> {{a.code}}</option>
              </select>
            </td>
          </tr>
          <tr class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">고장계통</td>
            <td class="flag2-table-td-third">
              <div style="overflow-y:scroll; height:100px; width:100%">
                <span><strong>실외기</strong></span><br/>
                <label *ngFor="let i of out_door_list; let j = index;" style="padding: 0px;">
                  <input type="checkbox"  name="outdoor_list" id="outdoor_list{{j}}" value="{{i}}">
                  <span>{{i}}</span><br/>
                </label>

                <br/>
                <span><strong>실내기</strong></span><br/>
                <label *ngFor="let i of in_door_list; let j = index;" style="padding: 0px;">
                  <input type="checkbox" name="indoor_list" id="indoor_list{{j}}" value="{{i}}">
                  <span>{{i}}</span><br/>
                </label>

                <br/>
                <span><strong>PC고장계통</strong></span><br/>
                <label *ngFor="let i of pc_automatic; let j = index;" style="padding: 0px;">
                  <input type="checkbox" name="pc_automatic" id="pc_automatic{{j}}" value="{{i}}">
                  <span>{{i}}</span><br/>
                </label>
              </div>
            </td>
          </tr>
          <tr *ngIf="receipt_data.status!='현재접수'" class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">AS완료</td>
            <td class="flag7-table-td-third" (click)="takephoto(2)">
              <ion-icon ios="ios-image" md="md-image"></ion-icon>
              <span>동영상 및 사진</span>
              <ion-icon ios="ios-add" md="md-add"></ion-icon>
            </td>
          </tr>
          <tr *ngIf="receipt_data.status!='현재접수'" class="flag7-table-tr">
            <td colspan=3 style="width:100%"><input type="text" [(ngModel)]="receipt_data.complete_text" class="flag7-input-contents"></td>
          </tr>
          <tr *ngIf="receipt_data.status!='현재접수'">
            <td class="flag7-table-td-first"></td>
            <td *ngIf="processingContentsFiles != null">
              <div *ngFor="let file of processingContentsFiles; let i = index;" class="ImgVideo">
                <img *ngIf="file.downloadURL.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/images')>-1"
                  src="{{file.downloadURL}}" (click)="photo_view(file.downloadURL)"/>
                <a *ngIf="file.downloadURL.indexOf('https://firebasestorage.googleapis.com/v0/b/samchully2-75f40.appspot.com/o/videos')>-1"
                  href="{{file.downloadURL}}"><ion-icon name="videocam" style="font-size: 2.5em;"></ion-icon></a>
                <button class="remove_btn" (click)="remove_file(2,i)">X</button>
              </div>

            </td>
          </tr>


          <!-- ******************************************* -->
          <tr *ngIf="receipt_data.status!='현재접수'" class="flag7-table-tr">
            <td *ngIf="receipt_data.status=='현재접수'" class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td *ngIf="receipt_data.status!='현재접수'" class="flag7-table-td-first"><img src="./assets/imgs/checkbox-red.png" alt=""></td>
            <td class="flag7-table-td-second">처리결과</td>
            <td class="flag7-table-td-third" id="flag7-radio-align">
              <select name="flag7-error" [(ngModel)]="receipt_data.c_result" id="">
                <optgroup label="완료코드">
                  <option value="">선택해주세요</option>
                  <option *ngFor="let i of complete_list" value="{{ i }}">{{ i }}</option>
                  <!-- <option value="부품교체">부품교체</option>
                  <option value="조작미숙">조작미숙</option>
                  <option value="공사불량">공사불량</option>
                  <option value="통신불량">통신불량</option>
                  <option value="소비자취소">소비자취소</option> -->
                </optgroup>
                <optgroup label="미결코드">
                  <option *ngFor="let i of suspense_list" value="{{i}}">{{i}}</option>
                  <!-- <option value="">없음</option>
                  <option value="견적 후 처리(대기)" checked>견적 후 처리(대기)</option>
                  <option value="부품대기">부품대기</option>
                  <option value="미처리">미처리</option> -->
                </optgroup>
              </select>
            </td>
          </tr>
          <!-- ******************************************* -->
          <tr class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">메모</td>
          </tr>
          <tr class="flag7-table-tr">
            <td colspan=3 style="width:100%"><input type="text" [(ngModel)]="receipt_data.c_memo" class="flag7-input-contents"></td>
          </tr>
          <tr *ngIf="receipt_data.status!='현재접수'" class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">고객확인</td>
            <td class="flag7-table-td-third" (click)="sign()">
              <ion-icon ios="ios-image" md="md-image"></ion-icon>
              <span>이름 및 싸인</span>
              <ion-icon ios="ios-add" md="md-add"></ion-icon>
            </td>
          </tr>
          <tr *ngIf="sign_data.signimage!=''">
            <img src="{{sign_data.signimage}}" (click)="photo_view(sign_data.signimage)"/>
          </tr>

          <tr>
            <td *ngIf="receipt_data.status=='현재접수'" class="flag7-table-td-first"><img src="./assets/imgs/checkbox-red.png" alt=""></td>
            <td *ngIf="receipt_data.status!='현재접수'" class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">처리예정일</td>
            <td class="flag7-table-td-third" style="text-align: center;">
              <input type="date" name="flag2-date" [(ngModel)]="receipt_data.due_date" style="width: 100%; height: 100%; text-align: center;">
            </td>
          </tr>

          <tr>
            <td *ngIf="receipt_data.status=='현재접수'" class="flag7-table-td-first"><img src="./assets/imgs/checkbox-red.png" alt=""></td>
            <td *ngIf="receipt_data.status!='현재접수'" class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">처리예정시간</td>
            <td class="flag7-table-td-third" style="text-align: center;">
              <input type="time" name="flag2-date" [(ngModel)]="receipt_data.due_time" style="width: 100%; height: 100%; text-align: center;">
            </td>
          </tr>

         <tr *ngIf="receipt_data.status=='승인보류'" class="flag7-table-tr">
          <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-red.png" alt=""></td>
            <td class="flag7-table-td-second">승인보류내용</td>
          </tr>
          <tr *ngIf="receipt_data.status=='승인보류'" class="flag7-table-tr">
            <td colspan=3 style="width:100%"><input type="text" [(ngModel)]="receipt_data.r_reason" class="flag7-input-contents" placeholder="사진정보 오류 및 AS내용 완료부실" readonly></td>
          </tr>

          <!--      ****       원본     ****
          <tr>
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">처리예정일</td>
            <td class="flag7-table-td-third" *ngIf="receipt_data.status!='현재접수'" style="text-align: center;">
              <input type="date" name="flag2-date" [(ngModel)]="receipt_data.due_date" style="width: 100%; height: 100%; text-align: center;" readonly>
            </td>
            <td class="flag7-table-td-third" *ngIf="receipt_data.status=='현재접수'" style="text-align: center;">
              <input type="date" name="flag2-date" [(ngModel)]="receipt_data.due_date" style="width: 100%; height: 100%; text-align: center;">
            </td>
          </tr>

          <tr>
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">처리예정시간</td>
            <td class="flag7-table-td-third" *ngIf="receipt_data.status!='현재접수'" style="text-align: center;">
              <input type="time" name="flag2-date" [(ngModel)]="receipt_data.due_time" style="width: 100%; height: 100%; text-align: center;" readonly>
            </td>
            <td class="flag7-table-td-third" *ngIf="receipt_data.status=='현재접수'" style="text-align: center;">
              <input type="time" name="flag2-date" [(ngModel)]="receipt_data.due_time" style="width: 100%; height: 100%; text-align: center;">
            </td>
          </tr>
          -->
          <tr *ngIf="receipt_data.status!='승인보류'" class="flag7-table-tr">
            <td colspan=3 id="flag7-table-tr-title">
              <!-- <ion-icon ios="ios-contact" md="md-contact"></ion-icon> -->
              <span>실외기</span>
            </td>
          </tr>

          <tr *ngIf="receipt_data.status!='승인보류'" class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">모델명</td>
            <td class="flag7-table-td-third" style="position: relative;">
              <ion-input id="olist_input_model" list="out_unit_model" [(ngModel)]="receipt_data.airConditionerInfo.o_serial.o_model" placeholder=""></ion-input>
              <datalist id="out_unit_model"></datalist>
            </td>
          </tr>

          <tr *ngIf="receipt_data.status!='승인보류'" class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">제조번호</td>
            <td class="flag7-table-td-third" style="position: relative;">
              <ion-input id="olist_input_serial" list="out_unit_serial" [(ngModel)]="receipt_data.airConditionerInfo.o_serial.o_serial" placeholder=""></ion-input>
              <datalist id="out_unit_serial"></datalist>
            </td>
          </tr>

          <tr *ngIf="receipt_data.status!='승인보류'" class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">운전시간</td>
            <td class="flag7-table-td-third" style="position: relative;">
              <ion-input id="olist_input_time" list="out_unit_time" [(ngModel)]="receipt_data.airConditionerInfo.o_serial.o_time" placeholder=""></ion-input>
              <!-- <datalist id="out_unit_time"></datalist> -->
            </td>
          </tr>

          <tr *ngIf="receipt_data.status!='승인보류'" class="flag7-table-tr">
            <td colspan=3 id="flag7-table-tr-title">
              <!-- <ion-icon ios="ios-contact" md="md-contact"></ion-icon> -->
              <span>실내기</span>
            </td>
          </tr>
          <tr *ngIf="receipt_data.status!='승인보류'" class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">모델명</td>
            <td class="flag7-table-td-third" style="position: relative;">
              <!-- <input type="text" [(ngModel)]="receipt_data.i_model" placeholder=""> -->
              <ion-input id="ilist_input_model" list="in_unit_model" [(ngModel)]="receipt_data.airConditionerInfo.i_serial.i_model" placeholder=""></ion-input>
              <datalist id="in_unit_model"></datalist>
            </td>
          </tr>

          <tr *ngIf="receipt_data.status!='승인보류'" class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">제조번호</td>
            <td class="flag7-table-td-third" style="position: relative;">
              <!-- <input type="text" [(ngModel)]="receipt_data.i_serial" placeholder=""> -->
              <ion-input id="ilist_input_serial" list="in_unit_serial" [(ngModel)]="receipt_data.airConditionerInfo.i_serial.i_serial" placeholder=""></ion-input>
              <datalist id="in_unit_serial"></datalist>
            </td>
          </tr>

          <tr *ngIf="receipt_data.status!='승인보류'" class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">운전시간</td>
            <td class="flag7-table-td-third" style="position: relative;">
              <!-- <input type="text" [(ngModel)]="receipt_data.i_time" placeholder=""> -->
              <ion-input id="ilist_input_time" list="in_unit_time" [(ngModel)]="receipt_data.airConditionerInfo.i_serial.i_time" placeholder=""></ion-input>
              <datalist id="in_unit_time"></datalist>
            </td>
          </tr>


          <tr *ngIf="receipt_data.status!='승인보류'" class="flag7-table-tr">
            <td colspan=3 id="flag7-table-tr-title">
              <!-- <ion-icon ios="ios-contact" md="md-contact"></ion-icon> -->
              <span>기타</span>
            </td>
          </tr>
          <tr *ngIf="receipt_data.status!='승인보류'" class="flag7-table-tr">
            <td class="flag7-table-td-first"><img src="./assets/imgs/checkbox-green.png" alt=""></td>
            <td class="flag7-table-td-second">기타</td>
            <td class="flag7-table-td-third" style="position: relative;">
              <!-- <input type="text" [(ngModel)]="receipt_data.io_etc" placeholder=""> -->
              <ion-input id="ilist_input_time" list="in_unit_time" [(ngModel)]="receipt_data.io_etc" placeholder=""></ion-input>
            </td>
          </tr>

        </table>

        <!-- <div class="unit-box">
          <table class="flag7-table-contents">
            <tr class="flag7-table-tr">
              <td class="flag7-table-td-first" style="width: 7%;"></td>
              <td class="flag7-table-td-second">실외기</td>
              <td class="flag7-table-td-third">
            </tr>
          </table>

          <ion-item>
            <ion-label style="text-align:center;">모델명</ion-label>
            <ion-label style="text-align:center;">제조번호</ion-label>
            <ion-label style="text-align:center;">운전시간</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="unit-input"><input type="text" [(ngModel)]="receipt_data.o_model"   ></ion-label>
            <ion-label class="unit-input"><input type="text" [(ngModel)]="receipt_data.o_serial" ></ion-label>
            <ion-label class="unit-input"><input type="text" [(ngModel)]="receipt_data.o_time"   ></ion-label>
          </ion-item>
        </div>

        <div class="unit-box">
          <table class="flag7-table-contents">
            <tr class="flag7-table-tr">
              <td class="flag7-table-td-first" style="width: 7%;"></td>
              <td class="flag7-table-td-second">실내기</td>
              <td class="flag7-table-td-third">
            </tr>
          </table>

          <ion-item>
            <ion-label style="text-align:center;">모델명</ion-label>
            <ion-label style="text-align:center;">제조번호</ion-label>
            <ion-label style="text-align:center;">운전시간</ion-label>
          </ion-item>

          <ion-item>
            <ion-label class="unit-input"><input type="text" [(ngModel)]="receipt_data.i_model"   ></ion-label>
            <ion-label class="unit-input"><input type="text" [(ngModel)]="receipt_data.i_serial" ></ion-label>
            <ion-label class="unit-input"><input type="text" [(ngModel)]="receipt_data.i_time"   ></ion-label>



          </ion-item>
        </div>

        <div class="unit-box">
          <table class="flag7-table-contents">
            <tr class="flag7-table-tr">
              <td class="flag7-table-td-first" style="width: 7%;"></td>
              <td class="flag7-table-td-second">기타</td>
              <td class="flag7-table-td-third">
            </tr>
          </table>

          <ion-item>
            <ion-label class="unit-input"><input type="text" [(ngModel)]="receipt_data.io_etc"   ></ion-label>
          </ion-item>
        </div> -->

        <div *ngIf="engineer_data.position!='수퍼관리자'">
          <!-- <div class="flag-send" style="margin-top: 20px;" *ngIf="receipt_data.status=='승인보류'">
            <input type="button" class="complete-btn" style="background-color: #FFA5A5;" (click)="modify()" value="수정">
          </div> -->

          <div class="flag-send" style="margin-top: 20px;" *ngIf="receipt_data.status=='현재접수'">
            <input type="button" class="complete-btn" style="background-color: #FFA5A5;" (click)="modify()" value="수정">
            <input type="button" class="complete-btn" (click)="receipt()" value="처리진행">
          </div>

          <div class="flag-send" style="margin-top: 20px;" *ngIf="receipt_data.status!='현재접수'&&receipt_data.status!='승인보류'">
            <input type="button" class="complete-btn"  *ngIf="receipt_data.status!='처리대기'" style="background-color: rgb(166,166,166);" (click)="stand()" value="처리대기">
            <input type="button" class="complete-btn" style="background-color: #FFA5A5;" (click)="modify()" value="수정">
            <input type="button" class="complete-btn" *ngIf="receipt_data.status!='처리대기'&&receipt_data.status!='처리완료'" (click)="complete()" value="처리완료">
            <input type="button" class="complete-btn" *ngIf="receipt_data.status=='처리대기'" (click)="standbyToComplete()" value="처리완료">
          </div>
        </div>
      </div>

    </article>
  </div>
</ion-content>
