<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content style="position: relative; height:100%;">
    <article class="flag3-article">
        <div class="as-list">
            <table *ngFor="let list of history_list ; let idx=index" class="as-list-thing" (click)="detail(list)">
                <tr>
                    <td rowspan=4 class="as-list-td-circle">
                        <div class="as-list-num">{{idx+1}}</div>
                    </td>
                    <td style="font-size:15px">건물명 : {{list.clientInfo.customer_building}} /에러코드: {{list.error_code}} /
                        {{list.receipt_content}}</td>
                </tr>
                <tr style="color:#707070; font-size:13px;">
                    <td>{{list.receipt_number}} /접수구분: {{list.receipt_type}} /원격: {{list.remote_division}} /보증:
                        {{list.warranty}}</td>
                </tr>
                <tr>
                    <td *ngIf="list.status!='처리완료'&&list.remain_flag=='pls'" style="color: blue;">{{list.remain_text}}
                    </td>
                    <td *ngIf="list.status!='처리완료'&&list.remain_flag=='min'" style="color: red;">{{list.remain_text}}
                    </td>
                </tr>
                <tr>
                    <td *ngIf="list.status=='승인완료'">AS 승인완료하였습니다.
                        <!-- <span *ngIf="list.worker_receipt" style="color: red;">{{list.worker_receipt}}</span> -->
                    </td>
                    <td *ngIf="list.status=='승인요청'">AS 승인요청중입니다.
                        <!-- <span *ngIf="list.worker_receipt" style="color: red;">{{list.worker_receipt}}</span> -->
                    </td>
                    <td *ngIf="list.status=='현재접수'">AS 접수하였습니다. <font color="red">{{list.receiptionist}}{{list.position}}</font>
                        <!-- <span *ngIf="list.worker_receipt" style="color: red;">{{list.worker_receipt}}</span> -->
                    </td>
                    <td *ngIf="list.status=='처리진행'">AS 진행중입니다. <font color="red">
                            {{list.worker_receiptgoing}}{{list.position}}</font>
                        <!-- <span *ngIf="list.worker_receipt" style="color: red;">{{list.worker_receipt}}</span> -->
                    </td>
                    <td *ngIf="list.status=='처리완료'">AS 처리완료입니다.
                        <!-- <span *ngIf="list.worker_receipt" style="color: red;">{{list.worker_receipt}}</span> -->
                    </td>
                    <td *ngIf="list.status=='승인보류'">승인보류 되었습니다.
                        <!-- <span *ngIf="list.worker_receipt" style="color: red;">{{list.worker_receipt}}</span> -->
                    </td>
                    <td *ngIf="list.status=='처리대기'">AS 처리대기중입니다.
                        <!-- <span *ngIf="list.worker_receipt" style="color: red;">{{list.worker_receipt}}</span> -->
                    </td>
                </tr>
            </table>
        </div>
    </article>
</ion-content>
