<ion-content id="content" class="recipe-content">
  <div class="left_bar">
    <!-- <img class="background" src="{{root_image_path}}00_btn/left bar.png" alt=""> -->
    <img class="home" (click)="home_button()" src="{{root_image_path}}00_btn/BNT_Home_NOR.png" alt="">
    <img class="back" (click)="back_button()" src="{{root_image_path}}00_btn/BNT_Back_NOR.png" alt="">
    <!-- <img (click)="next_button()" src="{{root_image_path}}00_btn/BNT_back_NOR.png" alt=""> -->

    <!-- [ngStyle]="{'top': left_infos_position[i] + '%'}" -->
    <div class="left-bar-material">
      <img *ngFor="let item of left_infos_url_list; let i = index;"
      [ngStyle]="{'top': left_infos_position[i] + '%'}"
      id="general_material{{i + 1}}" class="general_material" src="{{item}}" alt="">
    </div>

    <img class="bottom_arrow" (click)="chenage_left_info()" src="{{root_image_path}}00_btn/BNT_Menu_Arrow_L_NOR.png" alt="">
  </div>

  <div class="body">
    <img src="{{recipes_image}}" alt="">
  </div>

  <!-- <div class="body">
    <img class="recipe_cap" src="{{root_image_path}}00_btn/recipe_cap.png" alt="">

    <div class="sub_recipe_div">
      <span>{{sub_recipe_text}}</span>
    </div>

    <div class="recipes_div">

      <img [ngStyle]="{left: receipts_positions[0][0] + '%', top: receipts_positions[0][1] + '%', width: receipts_positions[0][2] + '%'}"
      src="{{root_image_path}}{{fm_str(index)}}/{{fm_str(index)}}_icon_00.png" alt="">

      <img *ngFor="let item of receipts_positions[1]; let i = index;"
      style="z-index: 2;"
      [ngStyle]="{left: item[0] + '%', top: item[1] + '%', width: item[2] + '%'}"
      src="{{root_image_path}}{{fm_str(index)}}/{{fm_str(index)}}_recipe_{{fm_str(i + 1)}}.png" alt=""/>

      <img *ngFor="let item of receipts_positions[2]; let i = index;"
      [ngStyle]="{left: item[0] + '%', top: item[1] + '%', width: item[2] + '%'}"
      src="{{root_image_path}}{{fm_str(index)}}/{{fm_str(index)}}_icon_{{fm_str(i + 1)}}.png" alt=""/>\
    </div>

    <div class="title_div">
      <img src="{{root_image_path}}{{fm_str(index)}}/title.png" alt="">
    </div>
  </div> -->

  <div id="recipe_bar" class="receipt_bar_div">
    <img id="induction-arrow" class="induction-arrow" src="{{root_image_path}}aaa.png" alt="">
    <img class="recipe_bar" src="{{root_image_path}}00_btn/Recipe Bar.png" alt="">
    <div id="modal_page">
      <img *ngIf="guide_popup_flag == false" src="../../assets/imgs/alternative food/drawpage_default.jpeg" alt="">
      <img *ngIf="guide_popup_flag == true" src="../../assets/imgs/alternative food/drawpage_default2.jpeg" alt="">
    </div>
  </div>
</ion-content>

<ion-content class="draw-content" [ngStyle]="{'z-index': draw_z_index}">
  <div class="home-back-div">
    <img class="home" (click)="home_button()" src="assets/imgs/alternative food/03_Planning/00_basic btn/BNT_Home_W_SEL.png" alt="">
    <img class="back" (click)="back_button()" src="assets/imgs/alternative food/03_Planning/00_basic btn/BNT_Back_W_NOR.png" alt="">
  </div>

  <div class="receipe-save-div">
    <img (click)="open_recipe_board()" class="receipe-sel" src="assets/imgs/alternative food/03_Planning/00_basic btn/BNT_Recipe_SEL.png" alt="">
    <img (click)="save_modal_open()" class="save-nor" src="assets/imgs/alternative food/03_Planning/00_basic btn/BNT_Save_NOR.png" alt="">
  </div>

  <!-- 왼쪽 중앙부터 시작하는 재료 리스트 -->
  <div class="menu-list">
    <div *ngFor="let item of menu_list; let i = index;" class="menu-div menu-{{i+1}}" (click)="changeMenuButton(i+1)">
      <div class="menu-icon">
        <img class="menu-{{i+1}}-1" src="assets/imgs/alternative food/03_Planning/01_menu btn/menu_icon_0{{item}}.png" alt=""/>
      </div>
      <div class="menu-name">
        <img class="menu-{{i+1}}-2" src="assets/imgs/alternative food/03_Planning/01_menu btn/btn_text0{{item}}_nor.png" alt=""/>
      </div>
    </div>
  </div>

  <div id="menu-popup-div" class="menu-popup-div" style="display: none;">
    <img id="food-popup-holder" class="food-popup-holder" [ngStyle]="{top: targetTopValue + '%'}" src="assets/imgs/alternative food/03_Planning/01_menu btn/Food Popup_holder.png" alt="">
    <img id="food-popup-bg" class="food-popup-bg" src="assets/imgs/alternative food/03_Planning/01_menu btn/Food Popup_bg.png" alt="">

    <div id="food-popup-div" class="food-popup-div">
      <div id="food-popup-div-{{j+1}}" *ngFor ="let i of targetList.value; let j = index;" dragula="bag" [(dragulaModel)]="q1" >
        <img id="popup-{{targetList.key}}-{{j + 1}}" class="popup-{{targetList.key}}-{{j + 1}}" src="{{i}}" alt="">
      </div>
    </div>

    <!-- x 종류 버튼에는 click 이벤트 필요.-->
    <img (click)="closeButton()" id="bnt-food-popup-close" class="bnt-food-popup-close" src="assets/imgs/alternative food/03_Planning/01_menu btn/BNT_Food Popup_Close.png" alt="">
  </div>

  <!-- <img id="food-popup-bar" class="food-popup-bar" style="display: none;" src="assets/imgs/alternative food/03_Planning/01_menu btn/Food Popup bar.png" alt=""> -->



  <!-- 드래그 앤 드롭 -->
  <!-- <div class="display: content;" *ngFor ="let i of list; let j = index;">
    <div class="menu-{{j + 1}}" dragula="bag" [(dragulaModel)]="q1">
      <img src="{{i}}" alt="">
    </div>
  </div> -->

  <div id="guide-popup-bg" class="guide-popup-bg"></div>

  <div id="white-board" class="white-board">

    <img id="guide-popup" class="guide-popup" src="assets/imgs/alternative food/03_Planning/00_basic btn/Guide_Popup.png" alt="">
    <img (click)="guidePopueCloseButton()" id="guide-popup-close" class="guide-popup-close" src="assets/imgs/alternative food/03_Planning/01_menu btn/BNT_Food Popup_Close.png" alt="">
    <!-- 요리명 -->
    <div class="white-board-cook-name">
      <!-- <img src="{{food_name_url}}" alt=""> -->
      <input/>
    </div>

    <!-- 재료 -->
    <div id="white-board-ingredient" class="white-board-ingredient" dragula="bag" [(dragulaModel)]="q1">

    </div>

    <!-- 준비하기 -->
    <!-- <canvas id="white-board-ready" class="white-board-ready">

    </canvas> -->

    <!-- 요리 만들기 -->

    <!-- textarea -->
    <div id="white-board-ready-textarea-board" class="white-board-ready-textarea-board">
      <textarea id="white-board-ready-textarea" class="white-board-ready-textarea" cols="50" rows="10"></textarea>
    </div>
    <div id="white-board-cooking-textarea-board" class="white-board-cooking-textarea-board">
      <textarea id="white-board-cooking-textarea" class="white-board-cooking-textarea" cols="50" rows="10"></textarea>
    </div>
  </div>

  <!-- 연필 -->
  <div id="pen-col-bg" class="pen-col-bg" style="display: none;">
    <img src="../../assets/imgs/alternative food/03_Planning/00_basic btn/pen_col_bg.png" alt="">
    <div class="pen-col-div">
      <div class="cols">
        <img class="color col-active" id="col-black" (click)="change_color('black')" src="assets/imgs/alternative food/03_Planning/00_basic btn/col_black.png" alt="">
        <img class="color" id="col-blue" (click)="change_color('blue')" src="assets/imgs/alternative food/03_Planning/00_basic btn/col_blue.png" alt="">
        <img class="color" id="col-green" (click)="change_color('green')" src="assets/imgs/alternative food/03_Planning/00_basic btn/col_green.png" alt="">
        <img class="color" id="col-red" (click)="change_color('red')" src="assets/imgs/alternative food/03_Planning/00_basic btn/col_red.png" alt="">
        <img class="color" id="col-yellow" (click)="change_color('yellow')" src="assets/imgs/alternative food/03_Planning/00_basic btn/col_yellow.png" alt="">
      </div>

      <div class="pens">
        <img class="pen pen-active" id="pen-01" (click)="change_pen('01')" src="assets/imgs/alternative food/03_Planning/00_basic btn/pen_01.png" alt="">
        <img class="pen" id="pen-02" (click)="change_pen('02')" src="assets/imgs/alternative food/03_Planning/00_basic btn/pen_02.png" alt="">
        <img class="pen" id="pen-03" (click)="change_pen('03')" src="assets/imgs/alternative food/03_Planning/00_basic btn/pen_03.png" alt="">
      </div>
    </div>
  </div>

  <!-- 지우개 -->
  <div id="pen-control-bar" class="pen-control-bar" style="display: none;">
    <img src="../../assets/imgs/alternative food/03_Planning/00_basic btn/Pen Control bar.png" alt="">
    <input [(ngModel)]="erase_size" type="range" id="volume" name="volume" min="5" max="300" step="5" orient="vertical">
  </div>

  <!-- 오른쪽 하단에 보이는 키보드, 연필, 지우개 -->
  <img id="bnt-keypad-nor" style="opacity: 0.5;" (click)="open_keypad()" class="bnt-keypad-nor" src="assets/imgs/alternative food/03_Planning/00_basic btn/BNT_Keypad_NOR.png" alt="">
  <img id="bnt-pen-nor" (click)="open_pen()" class="bnt-pen-nor" src="assets/imgs/alternative food/03_Planning/00_basic btn/BNT_Pen_NOR.png" alt="">
  <img id="bnt-eraser-nor" (click)="open_eraser()" class="bnt-eraser-nor" src="assets/imgs/alternative food/03_Planning/00_basic btn/BNT_Eraser_NOR.png" alt="">


  <div id="recipe-save-modal" class="recipe-save-modal" style="display: none;">
    <!-- <img class="bg-image" src="../../assets/imgs/alternative food/03_Planning/03_save/recipe_save_bg.png" alt=""> -->
    <span>레시피 이름을 입력하세요</span>
    <input id="recipe-name" [(ngModel)]="recipe_name"/>

    <button (click)="save_modal_close()" class="modal-cancel">취소하기</button>
    <button (click)="save()" class="modal-save">저장하기</button>
  </div>

  <div id="other-recipe-board" class="other-recipe-board" style="display: none;">
    <img class="bg-image" src="../../assets/imgs/alternative food/04_gallery/Recipe Thumbnail_Pannel.png" alt="">
    <img (click)="close_recipe_board()" class="close-button" src="assets/imgs/alternative food/04_gallery/btn_Recipe Thumbnail_Pannel_close.png"/>

    <img (click)="slidePrev()" class="prev-arraw" src="assets/imgs/alternative food/04_gallery/BNT_Recipe_Arrow_L_NOR.png" />
    <img (click)="slideNext()" class="next-arraw" src="assets/imgs/alternative food/04_gallery/BNT_Recipe_Arrow_R_NOR.png" />

    <ion-slides class="recipe-slides" #recipe_slides paginationType="bullets"
    pager="false"  centeredSlides="false" slidesPerView="3">
      <ion-slide class="slide-item" *ngFor="let item of recipe_list; let idx = index;" (click)="open_recipe(item)">
        <img class="slide-image" src="{{item.url}}" alt="">
        <span class="slide-name">{{item.name}}</span>
        <span class="slide-close" (click)="remove_recipe(item, idx)">X</span>
      </ion-slide>
    </ion-slides>
  </div>

  <div id="keyboard-bg" class="keyboard-bg" style="display: none;"></div>
</ion-content>
