// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.slide_page
{
  transition: none;
  .modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
  }
}

.loading-wrapper
{
  height: 20%;
  min-width: 45%;
  display: block;
  text-align: center;
  border: 3px solid #0E8D66;
  border-radius: 20px !important;
  transform: translateX(28%) !important;
  .loading-content
  {
    margin: 0 !important;
    .loading-style
    {
      .loading-text
      {
        // font: normal normal 800 40px/65px NanumSquareOTF_ac;
        font-family: "esamanru";
        font-size: 200%;
        color: #0E8D66;
        opacity: 1;
        margin-bottom: 10px;
        display: inline-block;
      }
      .loading-bg
      {
        width: 100%;
        height: 30px;
        background: #DBE5EB 0% 0% no-repeat padding-box;
        border-radius: 44px;
        opacity: 1;
        .loading-bar
        {
          transition: 0.5s;
          height: 100%;
          background: #0E8D66 0% 0% no-repeat padding-box;
          border-radius: 44px;
          opacity: 1;
          width: 0%;
        }
      }
    }
  }
}

.loading-bar0 {width: 0% !important;}
.loading-bar1 {width: 10% !important;}
.loading-bar2 {width: 20% !important;}
.loading-bar3 {width: 30% !important;}
.loading-bar4 {width: 40% !important;}
.loading-bar5 {width: 50% !important;}
.loading-bar6 {width: 60% !important;}
.loading-bar7 {width: 70% !important;}
.loading-bar8 {width: 80% !important;}
.loading-bar9 {width: 90% !important;}
.loading-bar10 {width: 100% !important;}


.expansion-recipe
{
  ion-backdrop{opacity: 0.8 !important;}
  .modal-wrapper
  {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    *{
      background-color: transparent;
      box-shadow: none;
      border: none;
    }
    box-shadow: none;
    border: none;
    border-radius: 10px;
    opacity: 1;
  }
  .scroll-content{overflow: hidden;}
  .recipe-image
  {
    position: absolute;
    // width: 1580px;
    width: 80%;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
  }

  .close-image
  {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 7%;
    opacity: 1;
  }
}
